<!DOCTYPE html>
<html>
  <head>
    <title> Senegal Python Challenge</title>
    <link rel="stylesheet" href="/static/css/app.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  
  <body>
    <div id="site">      
      <div id="container">
        <div id="header">
          <img src="/static/images/pych-logo.png" />
        </div>
        <div id="menu">
          <ul>
						{% for tab in tabs %}
            <li><a href="{{ tab.url }}">{{ tab.text}}</a></li>
						{% endfor %}
          </ul>
        </div>
        <div id="content">
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>
    <div id="site_footer">      
      <div id="footer">
      </div>
    </div>
  </body>
</html>