<!DOCTYPE html>
<html>
  <head>
    <title> Senegal Python Challenge</title>
    <link rel="stylesheet" href="/static/css/design.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  
  <body>
    <div id="site">      
      <div id="container">
        <div id="header">
          <img src="/static/images/pych-logo.png" />
        </div>
        <div id="menu">
          <ul>
            <li><a href="#">Accueil </a></li>
            <li><a href="#">Classement </a></li>
            <li><a href="#">Profil </a></li>
            <li><a href="#">Questions </a></li>
            <li><a href="#">Help </a></li>
          </ul>
        </div>
        <div id="content">
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>
    <div id="site_footer">      
      <div id="footer">
        <h3>Footer</h3>
      </div>
    </div>
  </body>
</html>