{% extends "app.html" %}

{% block content %}
<div id="questions">
  <center><p> cryptographie : 20 points </p></center>
  <div class="question bordure">
    <p>
    "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    </p>
  </div>

  <div class="reponse">
    <form action="#" method="post"">
      <input type="text" name="reponse" class="champ" />
      <input type="submit" name="repondre_btn" value="Répondre à cette question" class="repondre_btn" />
      <input type="submit" name="repondre_btn" value="Tirer une autre question" class="repondre_btn" />
    </form>
  </div>

</div>
{% endblock %}

